@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<head>
    <link href="~/root/dist/css/styles.css" rel="stylesheet" />
</head>


<div class="row">  
        <div>
            <h1 style="margin-left: 52%"> Bienvenidos a FotoPlus</h1>
            <img src="~/root/dist/img/img_home.jpg" id="img-home" />
        </div>
</div







