@{
        Layout = "~/Views/Shared/_Layout.cshtml";
        ViewBag.Title = "Home";
}
<section id="about" class="flat-row row-about">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="flat-divider d6px"></div>
                <div class="singleimages-border">
                    <img src="~/root/dist/img/Fotoplus1.jpg" alt="images">
                </div>
            </div>
            <div class="col-md-7">
                <div class="about-wrap padding-left61px">
                    <div class="title-box">
                        <h4 class="sub-title">Bienvenido a Foto Plus</h4>
                        <h2 class="main-title">¿Quienes somos?</h2>
                    </div>
                    <p>
                        Somos una empresa de electrónica ubicada en la provincia de Heredia en Costa Rica, Estamos activos desde hace casi 10 años y tenemos una gran reputación en el mercado y con nuestros clientes
                    </p>
                    <p>Vendemos aparatos electrónicos como cargadores para celular, teclados, mouse, auriculares inalambricos, parlantes bluetooth, entre otros. Tambien tenemos el servicio de reparaciones de celulares y desbloqueo de accesorios de audio y pc </p>
                    <p>
                </div>
            </div>
        </div>
    </div>
</section>







